CommonRepository/models/xsd/IsOkAndFireEmployeeFromBusinessSate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/IsOkAndFireEmployeeFromBusinessSate/" targetNamespace="http://www.example.org/IsOkAndFireEmployeeFromBusinessSate/">
    <complexType name="IsOkAndFireEmployeeFromBusinessSate">
    	<sequence>
    		<element name="isCompletedWithoutErrors" type="boolean"></element>
    		<element name="NewElementprocessState" type="string"></element>
    	</sequence>
    </complexType>

    <element name="IsOkAndFireEmployeeFromBusinessSate" type="string"></element>
</schema>