business.task.isEmployeeWorkingAtThisBusiness/resources/DniIdAndBusinessId.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/DniAndBusiness/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.example.org/DniAndBusiness/">
    <complexType name="DniIdAndBusinessId">
        <sequence>
            <element name="dniId" type="string"/>
            <element name="businessId" type="string"/>
        </sequence>
    </complexType>
    <element name="DniIdAndBusinessId" type="tns:DniIdAndBusinessId"/>
</schema>
