models/xsd/FireEmployeeReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/FireEmployeeReport/"
	targetNamespace="http://www.example.org/FireEmployeeReport/">
	<complexType name="FireEmployeeReport">
		<sequence>
			<element name="processId" type="int"></element>
			<element name="dniId" type="string"></element>
			<element name="businessId" type="string"></element>
			<element name="socialSecurityProcessState" type="string"></element>
			<element name="businessProcessState" type="string"></element>
		</sequence>
	</complexType>
</schema>