wsdl/empresa.v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.empresa.org/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="empresa" targetNamespace="http://www.empresa.org/ws">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.empresa.org/ws">
      <xsd:element name="Empleado">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="dni" type="xsd:string" />
          	<xsd:element name="numSeguridadSocial"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element name="nombre" type="xsd:string"></xsd:element>
          	<xsd:element name="apellido1" type="xsd:string"></xsd:element>
          	<xsd:element name="apellido2" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Confirmacion">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="isHecho" type="xsd:boolean" />
          	<xsd:element name="error" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>                                          <xsd:element name="Empleo" type="tns:EmpleoTYPE"></xsd:element>      <xsd:complexType name="EmpleoTYPE">      	<xsd:sequence>      		<xsd:element name="puesto" type="xsd:string"></xsd:element>      		<xsd:element name="horasSemanales" type="xsd:float"></xsd:element>      		<xsd:element name="sueldoPorHora" type="xsd:float"></xsd:element>      		<xsd:element name="fechaInicio" type="xsd:date"></xsd:element>      		<xsd:element name="fechaFin" type="xsd:date"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AltaEmpleadoLDAPResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AltaEmpleadoBDResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AltaEmpleadoSeguroMedicoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AltaEmpleadoServiciosAsociadosResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NotificarAltaAEmpleadoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="empleadoDNI">
    <wsdl:part name="empleadoDNI" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="confirmacion">
    <wsdl:part element="tns:Confirmacion" name="confirmacion"/>
  </wsdl:message>
  <wsdl:message name="EmpleadoYEmpleo">
  	<wsdl:part name="empleado" element="tns:Empleado"></wsdl:part>
  	<wsdl:part name="empleo" element="tns:Empleo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotificarAltaAEmpleadoRequest">
  	<wsdl:part name="NotificarAltaAEmpleadoRequest" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotificarAltaAEmpleadoResponse">
  	<wsdl:part name="parameters" element="tns:NotificarAltaAEmpleadoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="empresa">
    <wsdl:operation name="ProcesoBajaEmpleado">
      <wsdl:input message="tns:empleadoDNI"/>
      <wsdl:output message="tns:confirmacion"/>
    </wsdl:operation>
    <wsdl:operation name="ProcesoAltaEmpleado">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEmpleadoLDAP">
    	<wsdl:input message="tns:empleadoDNI"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEmpleadoBD">
    	<wsdl:input message="tns:empleadoDNI"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEmpleadoSeguroMedico">
    	<wsdl:input message="tns:empleadoDNI"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEmpleadoServiciosAsociados">
    	<wsdl:input message="tns:empleadoDNI"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarBajaAEmpleado">
    	<wsdl:input message="tns:empleadoDNI"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleadoLDAP">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleadoBD">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleadoSeguroMedico">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpleadoServiciosAsociados">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarAltaAEmpleado">
    	<wsdl:input message="tns:EmpleadoYEmpleo"></wsdl:input>
    	<wsdl:output message="tns:confirmacion"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="empresaSOAP" type="tns:empresa">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ProcesoBajaEmpleado">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ProcesoAltaEmpleado">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/ProcesoAltaEmpleado" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="BajaEmpleadoLDAP">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/BajaEmpleadoLDAP" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="BajaEmpleadoBD">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/BajaEmpleadoBD" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="BajaEmpleadoSeguroMedico">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/BajaEmpleadoSeguroMedico" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="BajaEmpleadoServiciosAsociados">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/BajaEmpleadoServiciosAsociados" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="NotificarBajaAEmpleado">
  		<soap:operation
  			soapAction="http://www.empresa.org/ws/NotificarBajaAEmpleado" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="empresa">
    <wsdl:port binding="tns:empresaSOAP" name="empresaSOAP">
      <soap:address location="http://localhost:8080/empresa"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
